rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access for testing purposes.
    // In a production environment, you should restrict this.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
